@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@keyframes fadein {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 400ms ease-in-out forwards;
}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 2300px;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.text-tile {
  color: #2e4a66;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 375px 600px 1250px;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
      "sidebar nav nav"
      "sidebar main main";
  overflow: hidden;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(2,0,36, 0.3);
}

.open > .nav_icon > .hamburger > span:nth-child(1) {
  transform:  rotate(45deg);
}

.open > .nav_icon > .hamburger > span:nth-child(2){
  opacity: 0;
}

.open > .nav_icon > .hamburger > span:nth-child(3){
  transform:  rotate(-45deg);
}

.navbar {
  background: rgb(2,0,36);
	background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgba(0,113,197,1) 92%);
  grid-area: nav;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  position: relative;
}


/* .nav_icon {
  color: #a5aaad;
} */

.nav_icon > .icon {
  font-size: 26px;
  color: #a5aaad;
}



.nav_icon > .hamburger > span {
  border: 1px solid #F6F9FF;
  background-color: #F6F9FF;
  width: 3rem;
  display: block;
  margin: 7px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  transition: all 300ms ease-in-out;
  transform-origin: 9px 1px;
}

.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 30px;
  font-weight: 700;
}

.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 10px;
  color: #F6F9FF;
  font-size: 16px;
  /* background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9,
              -2px -2px 5px #ffffff; */
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar__clock > svg {
  fill: #F6F9FF;
}

.navbar__right > .navbar__date {
  margin-left: 15px;
  margin-right: 5px;
}

main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
  position: relative;
}

.main__container {
  display: grid;
  grid-template-columns: 500px 1200px;
  grid-template-rows: 100px 45px .6fr 1fr;
  gap: 30px;
  padding: 20px 50px;
 
}

.main__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
 
}

.main__greeting {
  position: relative;
}

.main__greeting > svg  {
  fill: #DAA21B;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 55px;
  color: #404756;
  position: absolute;
  top: 10px;
  left: 100px;
}

.main__greeting > p {
  font-size: 16px;
  font-weight: 700;
  color: #404756;
  text-align: center;
}

.select__wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 13px #dedede, 
  -5px -5px 13px #ffffff;
  
}

.chart__selection {
  font-size: 24px;
}

.select__title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 15px 10px 5px;
}

.btn__wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
}

.btn__label {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 17px 5px 5px;
  cursor: pointer;
  color: #404756;
}

.btn__date-picker {
  cursor: pointer;
  width: 200px;
  font-size: 24px;
  border-radius: 5px;
  background: #404756;
  color: #F5F9FF;
}

.card__doughnut-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart__value {
  position: absolute;
  top: 85px;
  left: 203px;
  font-size: 36px;
  font-weight: 700;
  white-space: pre;
  text-align: center;
}

.chart1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  box-shadow: 5px 5px 13px #dedede, 
  -5px -5px 13px #ffffff;
}

.chart__date-range {
  margin-top: 25px;
}

.chart__dollar::before {
	content: "\0024"
}

.chart__top-title {
  text-align: center;
}

.text-primary-p {
  margin-top: 50px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 6px solid #73FAC9;
  display: inline-block;
  line-height: 157px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.chart2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  box-shadow: 5px 5px 13px #dedede, 
  -5px -5px 13px #ffffff;
}

.bottom__charts {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 1fr;
  gap: 30px;
  
}

.chart3,
.chart4,
.chart5 {
  height: 300px;
  box-shadow: 5px 5px 13px #dedede, 
  -5px -5px 13px #ffffff;
  white-space: pre;
  text-align: center;
}

.chart3 {
  grid-column: 1 / 2;
}

.chart4 {
  grid-column: 2 / 3;
}

.chart5 {
  grid-column: 3 / 4;
}

.chart6 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  box-shadow: 5px 5px 13px #dedede, 
  -5px -5px 13px #ffffff;
}

.chart__figure1,
.chart__figure2,
.chart__figure3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart__current,
.chart__hourly,
.chart__daily {
  
}

.chart__caption1,
.chart__caption2,
.chart__caption3 {
 margin-right: 50px;
 white-space: normal;
}

.chart__caption2 {
  margin-right: 115px;
}

.title-highlight {
  color: #BC4468;
}

.chart__value-current {
  position: absolute;
  top: 75px;
  left: 71px;
  font-size: 24px;
  font-weight: 700;
 
}

.chart__value-hourly {
  position: absolute;
  top: 75px;
  left: 71px;
  font-size: 24px;
  font-weight: 700;
}

.chart__value-daily {
  position: absolute;
  top: 75px;
  left: 71px;
  font-size: 24px;
  font-weight: 700;
}

#sidebar {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 10px;
  background: rgb(2,0,36);
	background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgba(0,113,197,1) 92%);
  /* grid-area: sidebar; */
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.sidebar__close > .icon {
  text-align: end;
}

.iconify {
  width: 38px;
  height: 38px;
}

.sidebar__title > .sidebarIcon > h1 {
  font-size: 18px;
  display: inline;
  color: #F5F9FF;
  margin: 15px 140px 0 5px;
}
.sidebarIcon {
  fill: #DAA21B;
  stroke: #DAA21B;
  /* display: flex;
  justify-content: space-between; */
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.sidebar__title > .sidebarIcon > svg {
  /* display: none; */
  fill: #DAA21B;
}

.sidebar__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #F5F9FF;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.sidebar__menu {
  

}

.sidebar__menu > .sidebar__link > span > a {
  color: #F5F9FF;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}


.sidebar__link {
  color: #f3f4f6;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 25px;
  text-transform: uppercase;
}

.active_menu_link {
  background: rgba(62, 161, 117, 0.3);
  color:  #F5F9FF;
}

.sidebar__link:hover {
  background: rgba(62, 161, 117, 0.3);
  color:  #F5F9FF;
}

.active_menu_link a {
  color: #73FAC9 !important;
  
}

.sidebar__link > span > svg {
  fill: #73FAC9;
  stroke: #73FAC9;
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  font-weight: 700;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}